<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerPort" value="4625"/>
	</appSettings>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Host=localhost;Port=4626;Username=postgres;Password=Mead14;Database=statkidb" providerName="Npgsql"/>
	</connectionStrings>
</configuration>