<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IP" value="localhost"/>
		<add key="Port" value="4625"/>
	</appSettings>
	<connectionStrings>
		<!-- Configure your local DB connection here -->
		<add name="ConnectionString" connectionString="" providerName="Npgsql"/>
	</connectionStrings>
</configuration>